
# Directories
/client/node_modules
/client/build
/node_modules

# Files
/client/package-lock.json
package-lock.json

# Others
/client/.DS_Store
/client/.env.local
/client/.env.development.local
/client/.env.test.local
/client/.env.production.local